@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Sora', sans-serif;
  --font-mono: var(--font-geist-mono);
}

:root {
   /* Neutral Colors */
  --neutral-900: hsl(0, 0%, 7%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Blue Colors */
  --blue-600: hsl(214, 100%, 55%);
  --blue-400: hsl(210, 100%, 65%);

  /* Red Colors */
  --red-500: hsl(354, 63%, 57%);

  /* Green Colors */
  --green-500: hsl(140, 63%, 57%);

  /* Yellow Colors */
  --yellow-400: hsl(49, 85%, 70%);

  --background: var(--neutral-0);
  --foreground: var(--neutral-900);
}

.dark {
  --background: var(--neutral-900);
  --foreground: var(--neutral-0);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: 16px;
}
